:root {
    --primary-color: #ec1f55!important;
    --text-color: #333!important;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  @font-face {
    font-family: Raleway;
    src: url('../assets/text-font/Raleway/Raleway-VariableFont_wght.ttf');
  }
  
  body {
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    font-family: Raleway;
    letter-spacing: 1.0px;
  }
  
  html {
    box-sizing: border-box;
  }

  a:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .not-active-screen {
    display: none!important;
  } 

  .header {
    padding: 0 16px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  } 

  #main-site {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .main .song:last-child{
    margin-bottom: 44px;
  }

  .welcome-screens {
    position: absolute;
    z-index: 10;
    text-align: center;
  }

  .welcome-btn {
    display: inline-block;
    margin-bottom: 16px;
    padding: 16px 12px;
    width: 100%;
    border: none;
    border-radius: 3px;
  }
  
  .intro-screen {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .intro-screen, .register-screen, .login-screen {
    background-color: #14103b;
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;
  }

  .welcome-screens .form {
    width: 100%;
    padding: 0 16px;
  }

  .welcome-screens .form a:first-child {
    margin-top: 24px;
  }
  
  .intro-screen .form {
    position: absolute;
    bottom: 0;
  }
  
  .first-btn {
    font-size: 18px;
    background-color: #ee2565;
    color:#ebebeb;
  }

  .intro-screen .branding > img {
    width: 50px;
    margin-bottom: 24px;
  }

  .intro-content {
    color: #fff;
    width: 100%;
    font-weight: 600;
    margin-bottom: 150px;
    padding: 0 60px;
  }

  .intro-screen .log-in {
    background-color: #14103b;
    color: #b7b3c0;
    border: solid 1px #b7b3c0;
  }
  
  .brand-name {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .branding {
    text-align: center;
  }

  .branding-underline {
    background-color: var(--primary-color);
    min-width: 64px;
    display: inline-block;
    height: 2px;
    margin-bottom: 32px;
  }

  .intro-des {
    font-size: 24px;
    line-height: 40px;
  }
  
  .register-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 24px;
  }

  .welcome-screens .header {
    background-color: #14103b;
    color: #fff;
  }

  .register-content form  {
    width: 100%;
    margin: 16px 16px;
  }
  
  .register-content form input {
    width: 100%;
    border: none;
    padding: 16px 16px;
    border-radius: none;
    border-bottom: solid 1px #b7b3c0;
    font-family: Raleway;
  }

  .register-content .connect-fb-btn {
    background-color: #354692;
    color:#ebebeb;
  }

  .forgot-password {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
  }

  .row {
    margin: 0 4px;
  }

  .fix-margin-error {
    float: left;
    width: 100%;
  }

  .player {
    position: absolute;
    z-index: 0;
    max-width: 480px;
    width: 100%;
  }

  .player .icon-pause {
    display: none;
  }

  .player .header {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 0 6px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    background: rgb(224,227,225);
    background: linear-gradient(90deg, rgba(224,227,225,1) 0%, rgba(252,240,247,1) 84%);
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 20px;
  }

  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 22px;
  }
  
  .btn.active {
    color: var(--primary-color) !important;
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }

  .dashboard-progress-bar {
    position: relative;
    padding: 0 16px;
  }

  .audio-time {
    font-size: 14px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
  }

  .dashboard-icon {
    font-size: 20px;
    position: fixed;
    color: var(--primary-color);
    padding: 0 16px;
    width: 100%;
    max-width: 480px;
  }
  
  .dashboard-icon i:last-child {
    float: right;
  }

  .dashboard-icon i:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .dashboard-progress {
    max-width: 100%;
    width: 100%;
    background-color: #d9d8e0;
    height: 5px;
    margin: 8px 0 8px 0;
  }

  .dashboard-progressed {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 5px;
    background-color: var(--primary-color);
    transition: all 2s;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: 408px;
    padding: 12px;
    background-color: #f3f2f7;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .content-playlists .song:last-child {
    margin-bottom: 116px;
  }

  .main .song:last-child {
    margin-bottom: 44px;
  }

  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 16px;
    color: var(--text-color);
  }
  
  .song .author {
    padding-top: 6px;
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  
  .footer {
    padding: 8px 8px;
    background-color: #14103b;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    z-index: 1000;
    max-height: 44px;
  }
  
  .footer .footer-btn {
    font-size: 24px;
    color: #534e80;
  }
  
  .browse {
    max-width: 480px;
    width: 100%;
  }
  
  .header > i {
    color: var(--primary-color);
    font-size: 20px;
  }

  .header > i:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .browse-content p {
    padding: 16px 8px 8px;
    font-size: 18px;
    font-weight: 600;
  }

  .browse-content p:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .browse-content .genres {
    display: flex;
    flex-wrap: wrap;
  }
  
  .genres > div {
    background-color: #fff;
    width: calc(50% - 8px);
    margin: 4px;
    text-align: center;
    
  }
  
  .genres img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }

  .genres p {
    padding-bottom: 16px;
  }

  .genres .type {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }

  .AudioInProgress {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    background-color: #f3f2f7;
    position: fixed;
    bottom: 44px;
    max-width: 480px;
    width: 100%;
    max-height: 60px;
    z-index: 9999;
  }

  .song-IP {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  .song-IP .body {
    flex: 1;
    padding: 0 16px;
  }

  .song-IP .body .title {
    font-size: 14px;
  }

  .song-IP .body .author {
    padding-top: 6px;
    font-size: 12px;
    opacity: 0.6;
  }
  
  .song-IP .option {
    margin: 0 8px;
    font-size: 32px;
    color: var(--primary-color);
    
  }

  .thumb-IP {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .audio-progress {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #d9d8e0;
    top: 0;
  }

  .progressed {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 2s;
  }

  .profile {
    background-color: #fff;
  }

  .person-content {
    display: flex;
    padding: 16px 16px;
  }

  .person-name {
    padding-bottom: 4px;;
  }

  .person-content > img {
    width: 56px;
    height: 56px;
    border-radius: 50% ;
  }

  .person-info {
    padding: 8px 16px;

  }

  .person-data {
    display: flex;
    
  }

  .person-data > div {
    color: var(--primary-color);
    font-size: 12px;
  }

  .person-data p {
    line-height: 50%;
    padding: 0 8px;
    color: var(--primary-color);
  }

  .person-options {
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px;
    margin-bottom: 12px;
  }

  .option-social:hover {
    cursor: pointer;
  }

  .option-playlists:hover {
    cursor: pointer;
  }

  .active-option {
    background-color: #fff;
    color: var(--primary-color);
    border: none!important;
    padding-top: 1px;
  }

  .person-options > div {
    display: flex;
    border: #fff solid 1px;
  }
  
  .person-options div > div {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }

  .person-social {
    margin-bottom: 116px;
  }

  .album {
    width: calc(50% - 8px);
    margin: 0 4px;
    position: relative;
  }

  .album:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .album > img {
    width: 100%;
    height: auto;
  }

  .album-text {
    position: absolute;
    bottom: 6%;
    left: 5%;
    color: #fff;
  }

  .album-text .album-title {
    color: #fff;
    font-weight: 500;
  }

  .album-text .album-sub-title {
    color: var(--primary-color);
    font-size: 13px;
  }


  .more .person-info {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  .more .person-name {
    padding-left: 16px;
  }

  .more .person-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .more .person-content {
    align-items: center;
    justify-content: space-between;
  }

  .more .person-content i {
    color: var(--primary-color);
    font-size: 22px;
  }

  .more-options li {
    list-style: none;
    display: block;
    padding: 16px 16px;
    position: relative;
  }

  .more-options li i {
    float: right;
    opacity: 0.3;
  }
  
  .more-options {
    border-top: 1.5px solid rgb(0 0 0 / 12%);
    border-bottom: 1.5px solid rgb(0 0 0 / 12%);
  }

  .more-options .overlay-row {
    position: absolute;
    bottom: 0;
    height: 1.3px;
    width: calc(100% - 16px);    
    background-color: rgb(0 0 0 / 9%);
  }

  .log-out {
    margin: 32px 0;
    text-align: center;
    padding: 16px 16px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 16%);
    color: var(--primary-color);
    font-weight: 600;
  }

  .log-out:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .content-image-heading  {
    display: flex;
    justify-content: space-between;
    padding: 16px 4px 8px 4px;
  }

  .content-image-heading p:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .content-image-heading p:first-child {
    font-size: 17px;
    font-weight: 600;
  }

  .content-image-heading p:last-child {
    color: var(--primary-color);
  }

  .content-image {
    display: flex;
    flex-wrap: wrap;
  }

  .search-bar {
    width: 100%;
    margin: 16px 0;
    border-radius: 4px;
    border: solid 1px #b7b3c0;
    background-color: #fff;
    display: flex;
  }

  .search-bar > i {
    padding: 8px;
  }

  #search {
    border: none;
    width: 100%;
    padding: 8px 0;
    font-family: Raleway;
  }

  #search:focus {
    outline: none;
  }

  .library-heading {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  
  .library-heading > h3 {
    font-size: 16px;
  }
  
  .library-heading > h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color)
  }
  
  .library-heading > h5:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .song-history {
    padding: 0 16px;
  }

  .song-history .song:last-child {
    margin-bottom: 116px;
  }

  .artists-list {
    padding: 16px 0;
    margin-bottom: 200px;
  }

  .artist {
    display: flex;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 8px 16px;

  }

  .artist-info {
    align-self: center;
    padding-left: 16px;
    flex: 1; 
  }

  .artist-image > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .artist-name {
    font-size: 14px;
  }

  .artist-followers {
    font-size: 12px;
    font-weight: 400;
  }

  .following-btn {
    color: #fff;
    font-size: 14px;
    padding: 8px;
    align-self: center;
    border-radius: 4px;
    background-color: var(--primary-color);
  }

  .following-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .browse .more-options > li:hover {
    opacity: 0.7;
    cursor: pointer;
  }




  
  
  

  
  