:root {
    --primary-color: #ec1f55!important;
    --text-color: #333!important;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  @font-face {
    font-family: Raleway;
    src: url('../assets/text-font/Raleway/Raleway-VariableFont_wght.ttf');
  }
  
  body {
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    font-family: Raleway;
    letter-spacing: 1.0px;
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
  
  html {
    box-sizing: border-box;
  }

  /* ----------------Important classes--------------  */

  a {
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .not-active-screen {
    display: none!important;
  } 

  .row {
    margin: 0 4px;
  }
  
  .fix-margin-error {
    float: left;
    width: 100%;
  }

  .btn.active {
    color: var(--primary-color) !important;
  }

  .header {
    padding: 0 12px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  } 

  .header > i {
    color: var(--primary-color);
    font-size: 20px;
  }

  .header > i:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .btn-gear:hover {
    animation: rotateGear 1s ease;
  }

  .fa-bell:hover {
    animation: rotateBell 0.2s infinite;

  }

  @keyframes rotateGear {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateBell {
    from {
      transform: rotate(-60deg);
    }
    to {
      transform: rotate(60deg);
    }
  }


  /* --------------------Welcome Screens-------------------- */

  .welcome-screens {
    z-index: 10;
    text-align: center;
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }

  .welcome-btn {
    display: inline-block;
    margin-bottom: 16px;
    padding: 16px 12px;
    width: 100%;
    border: none;
    border-radius: 3px;
  }

  .welcome-screens .form {
    width: 100%;
    padding: 0 16px;
  }

  .welcome-screens .form a:first-child {
    margin-top: 24px;
  }

  .welcome-screens .header {
    background-color: #14103b;
    color: #fff;
  }

  .intro-screen, .register-screen, .login-screen {
    background-color: #14103b;
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;
  }

  .first-btn {
    font-size: 18px;
    background-color: #ee2565;
    color:#ebebeb;
  }

  .branding {
    text-align: center;
  }

  .brand-name {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .branding-underline {
    background-color: var(--primary-color);
    min-width: 64px;
    display: inline-block;
    height: 2px;
    margin-bottom: 32px;
  }


  /* -------------------Intro Screen---------------------- */

  .intro-screen {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .intro-screen .form {
    position: absolute;
    bottom: 0;
  }
  
  .intro-screen .branding > img {
    width: 50px;
    margin-bottom: 24px;
  }

  .intro-content {
    color: #fff;
    width: 100%;
    font-weight: 600;
    margin-bottom: 150px;
    padding: 0 60px;
  }

  .intro-screen .log-in {
    background-color: #14103b;
    color: #b7b3c0;
    border: solid 1px #b7b3c0;
  }

  .intro-des {
    font-size: 24px;
    line-height: 40px;
  }
  
  /* -------------------Register Screen---------------------- */

  .register-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 24px;
  }

  .register-content form  {
    width: 100%;
    margin: 16px 16px;
  }
  
  .register-content form input {
    width: 100%;
    border: none;
    padding: 16px 16px;
    border-radius: none;
    border-bottom: solid 1px #b7b3c0;
    font-family: Raleway;
  }

  .register-content .connect-fb-btn {
    background-color: #354692;
    color:#ebebeb;
  }

  .forgot-password {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
  }

  /* -------------------Player Screen---------------------- */

  .player {
    position: relative;
    z-index: 0;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }

  .player .icon-pause {
    display: none;
  }

  .player .header {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  /* -------------------Main Screen---------------------- */

  #main {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }

  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0 12px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 22px;
  }

  .control .btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }

  header {
    text-align: center;
    margin-bottom: 12px;
  }

  header > h2 {
    margin-top: 12px;
    font-size: 16px;
    color: var(--primary-color);
  }

  .dashboard {
    padding: 12px 0 12px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    background: rgb(224,227,225);
    background: linear-gradient(90deg, rgba(224,227,225,1) 0%, rgba(252,240,247,1) 84%);
  }

  .dashboard-progress-bar {
    position: relative;
    margin: 0 12px;
  }

  .audio-time {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .dashboard-icon {
    font-size: 20px;
    position: fixed;
    color: var(--primary-color);
    padding: 0 12px;
    width: 100%;
    max-width: 480px;
  } 
  
  .dashboard-icon i:last-child {
    float: right;
  }

  .dashboard-icon i:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .dashboard-progress {
    max-width: 100%;
    width: 100%;
    background-color: #d9d8e0;
    height: 5px;
    margin: 8px 0 0 0;
  }

  .dashboard-progressed {
    position: absolute;
    max-width: 100%;
    top: 0;
    z-index: 9999;
    height: 5px;
    background-color: var(--primary-color);
    transition: all 2s;
  }

  .playlist {
    margin-top: 392px;
    padding: 12px 12px 0 12px;
    background-color: #f3f2f7;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 8px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .content-playlists .song:last-child {
    margin-bottom: 122px;
  }

  #main .song:last-child {
    margin-bottom: 62px;
  }

  #main .song[data-index = '0'] {
    margin-top: 12px;
  }

  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 16px;
    color: var(--text-color);
  }
  
  .song .author {
    padding-top: 6px;
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }

  .song .option:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  /* -------------------Footer---------------------- */

  .footer {
    padding: 8px 8px;
    background-color: #14103b;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    z-index: 1000;
    max-height: 50px;
  }

  .footer > a {
    padding: 0 8px;
  }
  
  .footer .footer-btn {
    font-size: 10px;
    color: #534e80;
    text-align: center;
  }

  .footer .footer-btn > i {
    font-size: 24px;
  }

  /* -------------------Library Screen---------------------- */

  .library {
    max-width: 480px;
    width: 100%;
  }
  
  .library-content p {
    padding: 16px 8px 8px;
    font-size: 18px;
    font-weight: 600;
  }

  .library-content p:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .library-content .genres {
    display: flex;
    flex-wrap: wrap;
  }
  
  .genres > div {
    background-color: #fff;
    width: calc(50% - 8px);
    margin: 4px;
    text-align: center;
    
  }
  
  .genres img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }

  .genres p {
    padding-bottom: 16px;
  }

  .genres .type {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }
  
  /* -------------------Audio In Progress---------------------- */

  .AudioInProgress {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    background-color: #f3f2f7;
    position: fixed;
    bottom: 50px;
    max-width: 480px;
    width: 100%;
    max-height: 60px;
    z-index: 9999;
  }

  .song-IP {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  .song-IP .body {
    flex: 1;
    padding: 0 16px;
  }

  .song-IP .body .title {
    font-size: 14px;
  }

  .song-IP .body .author {
    padding-top: 6px;
    font-size: 12px;
    opacity: 0.6;
  }
  
  .song-IP .option {
    margin: 0 8px;
    font-size: 32px;
    color: var(--primary-color);
    
  }

  .thumb-IP {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .audio-progress {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #d9d8e0;
    top: 0;
  }

  .progressed {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 2s;
  }

  /* -------------------Profile Screen---------------------- */

  .profile {
    margin-bottom: 116px;
  }

  .person-content {
    display: flex;
    padding: 12px 12px;
  }

  .person-name {
    padding-bottom: 4px;;
  }

  .person-content > img {
    width: 56px;
    height: 56px;
    border-radius: 50% ;
  }

  .person-info {
    padding: 8px 16px;

  }

  .person-data {
    display: flex;
    
  }

  .person-data > div {
    color: var(--primary-color);
    font-size: 12px;
  }

  .person-data p {
    line-height: 50%;
    padding: 0 8px;
    color: var(--primary-color);
  }

  .person-options {
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px 12px;
    margin-bottom: 6px;
  }

  .option-social:hover {
    cursor: pointer;
  }

  .option-playlists:hover {
    cursor: pointer;
  }

  .active-option {
    background-color: #fff;
    color: var(--primary-color);
    border: none!important;
    padding-top: 1px;
  }

  .person-options > div {
    display: flex;
    border: #fff solid 1px;
  }
  
  .person-options div > div {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }

  /* -------------------Album---------------------- */

  .album {
    position: relative;
    width: calc(50% - 12px);
    margin: 6px;
  }
  
  .album-image {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
  }

  .album-image > img {
    width: 100%;
    transition: transform .7s ease;
    margin-bottom: -4px;
    border-radius: 8px;
  }

  .album-image:hover > img {
    transform: scale(1.1, 1.1);
    cursor: pointer;
  }

  .album-text {
    text-align: start;
    padding: 8px 0 0 0;
  }

  .album-text .album-title {
    color: #000;
    font-weight: 500;
  }

  .album-text .album-sub-title {
    color: var(--primary-color);
    font-size: 13px;
  }

  .content {
    margin-bottom: 122px;
  }

  .content-image-heading  {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 6px 12px;
  }

  .content-image-heading p:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .content-image-heading p:first-child {
    font-size: 17px;
    font-weight: 600;
  }

  .content-image-heading p:last-child {
    color: var(--primary-color);
  }

  .content-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 6px;
  }

  .content-playlists.home .song:first-child {
    margin-top: 6px;
  }


  /* -------------------Setting---------------------- */

  .more .person-info {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  .more .person-name {
    padding-left: 16px;
  }

  .more .person-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .more .person-content {
    align-items: center;
    justify-content: space-between;
  }

  .more .person-content i {
    color: var(--primary-color);
    font-size: 22px;
  }

  .more-options li {
    list-style: none;
    display: block;
    padding: 16px 12px;
    position: relative;
  }

  .more-options li i {
    float: right;
    opacity: 0.3;
  }
  
  .more-options {
    border-top: 1.5px solid rgb(0 0 0 / 12%);
    border-bottom: 1.5px solid rgb(0 0 0 / 12%);
  }

  .more-options .overlay-row {
    position: absolute;
    bottom: 0;
    height: 1.3px;
    width: calc(100% - 16px);    
    background-color: rgb(0 0 0 / 9%);
  }

  .log-out {
    margin: 32px 0;
    text-align: center;
    padding: 16px 16px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 16%);
    color: var(--primary-color);
    font-weight: 600;
  }

  .log-out:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  /* -------------------Search screen---------------------- */

  .search-bar {
    width: 100%;
    margin: 16px 0;
    border-radius: 4px;
    border: solid 1px #b7b3c0;
    background-color: #fff;
    display: flex;
  }

  .search {
    background: rgb(243,242,247);
    background: radial-gradient(circle, rgba(243,242,247,1) 0%, rgba(232,228,241,1) 84%);
  }

  .search-bar > i {
    padding: 8px;
  }

  .search-tool {
    border: none;
    width: 100%;
    padding: 8px 0;
    font-family: Raleway;
  }

  .search-tool:focus {
    outline: none;
  }

  /* -------------------Library Screen---------------------- */

  .library-heading {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px; 
  }

  
  .library-heading > h3 {
    font-size: 16px;
  }
  
  .library-heading > h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color)
  }
  
  .library-heading > h5:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .library .more-options a {
    color: #000;
  }

  .song-history .song:last-child {
    margin-bottom: 116px;
  }

  .artists-list {
    padding: 16px 0;
  }

  .artist {
    display: flex;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  .artists-list .artist:last-child {
    margin-bottom: 108px;
  }

  .artist-info {
    align-self: center;
    padding-left: 16px;
    flex: 1; 
  }

  .artist-image > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .artist-name {
    font-size: 14px;
  }

  .artist-followers {
    font-size: 12px;
    font-weight: 400;
  }

  .following-btn {
    color: #fff;
    font-size: 14px;
    padding: 8px;
    align-self: center;
    border-radius: 4px;
    background-color: #ee2565;
    
  }

  .following-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .library .more-options > li:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .albums-list {
    margin: 16px;
    border-radius: 4px;
  }

  .albums-status {
    margin-bottom: 8px;
  }

  .albums-notification {
    font-size: 14px;
    opacity: 0.7;
  }

  .albums-btn {
    padding: 8px;
    margin: 16px 0;
    background-color: #ee2565;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
  }

  .albums-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .overview {
    padding: 16px;
  }

  .overview-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .overview-status {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 24px;
  }

  .overview-buttons {
    display: flex;
    font-size: 14px;
  }
  
  .overview-btn {
    padding: 8px;
    color: #fff;
    background-color: #ee2565;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    flex: 1;
  }

  .overview-btn > i {
    margin-right: 8px;
    font-size: 12px;
  }

  .overview-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .overview-btn + .overview-btn {
    margin-left: 16px;
  }

  .overview-notification {
    border-radius: 4px;
    text-align: center;
    margin: 32px 16px;
    border: solid 1px #ee2565;
    padding: 8px;
  }

  .nfc-heading {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .nfc-sub-heading {
    font-size: 14px;
    margin-bottom: 16px;
    opacity: 0.7;
  }
  .overview-nfc-btn {
    width: 100%;
    background-color: #ee2565;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    font-size: 14px;
  }

  .overview-nfc-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .top-tracks {
    padding: 16px;
  }

  .your-insights-heading {
    margin-bottom: 24px;
    font-weight: 600;
  }

  .your-insights-status {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 24px;
  }

  .your-insights-notification {
    border-radius: 4px;
    margin: 32px;
    border: solid 1px #ee2565;
    padding: 8px;
  }

  .pro-tip {
    font-size: 14px;
  }

  .overview-ntf-btn {
    width: 100%;
    background-color: #ee2565;
    border-radius: 4px;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
  }
  
  .overview-ntf-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .top-listeners {
    padding: 16px;
    margin-bottom: 116px;
  }

  .overview-selections {
    list-style: none;
    max-width: 190px;
  }

  .overview-selections li {
    padding: 12px 0;
    font-size: 14px;
    border-bottom: 1px ridge #ee2565;
  }

  .overview-selections li:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .filter-time {
    padding: 8px 0;
    display: inline-block;
  }

  .filter-time:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  






  
  
  

  
  