:root {
    --primary-color: #ec1f55!important;
    --text-color: #333!important;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .row {
    margin: 0 4px;
  }

  .fix-margin-error {
    float: left;
    width: 100%;
  }

  .header {
    padding: 0 16px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  

  .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 20px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .btn.active {
    color: var(--primary-color) !important;
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: 400px;
    margin-bottom: 40px;
    padding: 12px;
    background-color: #f3f2f7;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  
  .footer {
    padding: 8px 8px;
    background-color: #14103b;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    z-index: 1000;
  }
  
  .footer .footer-btn {
    font-size: 20px;
    color: #534e80;
  }
  
  #browse {
    max-width: 480px;
    width: 100%;
    margin-bottom: 116px;
    display: none;
  }

  .header {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }
  
  .header > i {
    color: var(--primary-color);
    font-size: 20px;
  }

  .browse-content p {
    padding: 16px 8px 8px;
  }
  
  .browse-content .genres {
    display: flex;
    flex-wrap: wrap;
  }
  
  .genres > div {
    background-color: #fff;
    width: calc(50% - 8px);
    margin: 4px;
    text-align: center;
    
  }
  
  .genres img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }

  .genres p {
    padding-bottom: 16px;
  }

  .genres .type {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }

  #AudioInProgress {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    background-color: #f3f2f7;
    position: fixed;
    bottom: 46.67px;
    max-width: 480px;
    width: 100%;
    display: none;
    z-index: 9999;
  }

  .song-IP {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  .song-IP .body {
    flex: 1;
    padding: 0 16px;
  }

  .song-IP .body .title {
    font-size: 16px;
  }

  .song-IP .body .author {
    font-size: 12px;
    opacity: 0.6;
  }
  
  .song-IP .option {
    margin: 0 8px;
    font-size: 32px;
    color: var(--primary-color);
    
  }

  .thumb-IP {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .audio-progress {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #d9d8e0;
    top: 0;
  }

  .progressed {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 2s;
  }

  #profile {
    background-color: #fff;
    display: none;
  }

  .person-content {
    display: flex;
    padding: 16px 16px;
  }

  .person-content > img {
    width: 44px;
    height: 44px;
    border-radius: 50% ;
  }

  .person-info {
    padding: 0 16px;
  }

  .person-data {
    display: flex;
  }

  .person-data > div {
    color: var(--primary-color);
    font-size: 12px;
  }

  .person-data p {
    line-height: 50%;
    padding: 0 8px;
    color: var(--primary-color);
  }

  .person-options {
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px;
    margin-bottom: 12px;
  }

  .person-options > div {
    display: flex;
    border: #fff solid 1px;

    border-radius: 4px;
  }
  
  .person-options div > div {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }

  .person-social {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 112px;
  }

  .album {
    width: calc(50% - 8px);
    margin: 0 4px;
    position: relative;
  }
  
  .album > img {
    width: 100%;
    height: auto;
  }

  .album-text {
    position: absolute;
    bottom: 6%;
    left: 5%;
    color: #fff;
  }

  .album-text .album-title {
    color: #fff;
    font-weight: 500;
  }

  .album-text .album-sub-title {
    color: var(--primary-color);
    font-size: 13px;
  }

  .active-option {
    background-color: #fff;
    color: var(--primary-color);
    border: none!important;
    border-radius: 4px;
  }

  #more {
    margin-bottom: 300px;
  }

  #more .person-info {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  #more .person-name {
    padding-left: 16px;
  }

  #more .person-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  #more .person-content {
    align-items: center;
    justify-content: space-between;
  }

  #more .person-content i {
    color: var(--primary-color);
    font-size: 22px;
  }

  .more-options {
    
  }

  .more-options li {
    list-style: none;
    display: block;
    padding: 16px 16px;
    position: relative;
  }

  .more-options li i {
    float: right;
    opacity: 0.3;
  }
  
  .more-options {
    border-top: 1.5px solid rgb(0 0 0 / 12%);
    border-bottom: 1.5px solid rgb(0 0 0 / 12%);
  }

  .more-options .overlay-row {
    position: absolute;
    bottom: 0;
    height: 1.5px;
    width: 464px;
    background-color: rgb(0 0 0 / 9%);
  }

  .log-out {
    margin: 32px 0;
    text-align: center;
    padding: 16px 16px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 16%);
    color: var(--primary-color);
    font-weight: 510;
  }




  
  
  

  
  